@import "./partials/bootstrap_loader.scss";

img {
    max-height: 150px;
}

body,
.modal-content {
    background-color: $bg-body-dark;
    color: #fff;
}

main {
    section {
        .btn-icon {
            background-color: transparent;
            margin: 0;
            padding: 0;
            border: none;
        }

        .pagination-control {
            margin: 2rem 0;
        }

        .my-card {
            border: 2px solid #fff;
            padding: 1rem;
        }
    }
}
