@import "~bootstrap/scss/bootstrap";

img {
    max-height: 150px;
}

ul {
    list-style: none;
}

main {
    section {
        .my-card {
            border: 2px solid #111;
            padding: 1rem;
        }
    }
}
