@import "./partials/bootstrap_loader.scss";

body {
    background-color: $bg-body-dark;
    color: #fff;
}

img {
    max-height: 150px;
}

main {
    section {
        .pagination-control {
            margin: 2rem 0;
        }

        .my-card {
            border: 2px solid #fff;
            padding: 1rem;

            ul {
                list-style: none;

                li {
                    margin: 0.5rem 0;
                }
            }
        }
    }
}
